@charset "UTF-8";

body {
    margin: 0;
}

canvas {
    position: absolute;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated; /* Chrome */
}

#background {
    background-image: url(src/resources/gui/title/splash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated; /* Chrome */
}

.fullscreen {
    position: absolute;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Mobile Controls Styling */
#mobile-controls {
    font-family: Arial, sans-serif;
}

#mobile-controls button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#mobile-controls button:active {
    transform: scale(0.93);
}